#wendybus {

    margin-bottom: 40px;

}

#nav {
    margin-bottom: 40px;
}

#wendy {


    border: 1px solid black;
    padding: 10px;
}

#wendy .button {

    left:5px;
}

#allotment {

    margin-bottom: 40px;
}

#lot {


    border: 1px solid black;
    padding: 10px;
}

.wint {


    border: 1px solid black;
    padding: 10px;
}

#fergcarrson {

    margin-bottom: 40px;

}